*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

:root{
    --time-animation: 3s;
}


.toast{
    position: absolute;
    border-radius: 12px;
    padding: 15px 35px 15px 25px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    top: 25px; // fica no topo da tela
    right: 30px; // fica na direita da tela
    border-left: 5px solid #5cb85c;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35) !important;

    &.visible{
        transform: translateX(0%);

    }

    .icon{
        svg{
            color: #5cb85c;
            font-size: 24px;
        }
    }

    .toast-content{
        display: flex;
        align-items: center;


        .menssagem{
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            .text{
                font-weight: 400;
                color: #666;

                &.text-1{
                    font-weight: 600;
                    color: #333;
                    text-transform: uppercase;
                    font-size: 20px;
                    margin-bottom: 0.3rem;
                }
                &.text-2{
                    font-size: 18px;
                }
            }
        }
    }

    .icon-close{
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        cursor: pointer;
    }



    .progress{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;

        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: #5cb85c;
        }

       

        &.visible{
            &::before{
                animation: progress var(--time-animation) linear forwards;
            }
        }
    }
}


/*=========== TOAST ERROR  ===============*/
.toast.type-error{

    border-left: 5px solid #FF5252 !important;

    .icon{
        svg{
            color: #FF5252 !important;
            font-size: 28px !important;
        }
    }

    .progress{
        &::before{
            background: #FF5252 !important;
        }
    }
}

/*=========== TOAST SUCCESS  ===============*/
.toast.type-success{

    border-left: 5px solid #4CAF50 !important;

    .icon{
        svg{
            color: #4CAF50 !important;
            font-size: 24px !important;
        }
    }

    .progress{
        &::before{
            background: #4CAF50 !important;
        }
    }
}




@keyframes progress{
    100%{
        right: 100%;
    }
}